#git+https://github.com/kashif/diffusers.git@wuerstchen-v3
diffusers
discord
openai
aiosqlite
tiktoken
python-dotenv
aiohttp
anthropic
stability-sdk
tensorflow
torch
invisible_watermark
transformers
accelerate
safetensors
peft
k-diffusion
pydantic
accelerate
gguf
hf_transfer
huggingface_hub[hf_transfer]
transformers[sentencepiece]
